@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@font-face {
      font-family: 'Roboto', sans-serif;
      src: url();
}

@theme {
      --font-primary: 'Roboto', sans-serif;
}